body{
    background-color: hsl(210, 46%, 95%);
    
    
}
#container{
    
    display: flex;
    width: 75%;
    height: 585px;
    position: relative;
    top: 50px;
    left: 200px;
    

}
.inner1{
    display: flex;
    
    width :75%;
    flex-direction: column;
}
.item{
    
    border-radius: 10px;
    padding: 20px;
}
.subinner1{
    display: flex;
    height: 50%;
}
.subinner2{
    display: flex;
    height: 50%;
}
#one{
   
   border-radius: 10px;
   width: 75%;
   margin:10px 15px 10px 10px;
   background-color: hsl(263, 55%, 52%);
   padding: 20px;
   z-index: -1;
}
#one::after{
    content:"";
    background-image: url('/images/bg-pattern-quotation.svg');
    height: 100px;
    width: 100px;
    position: absolute;
    right: 623px;
    top: 17px;
    
    z-index: -1;
}
#two{
width: 25%;
margin:10px 15px 10px 10px;
padding: 20px;
background-color: hsl(217, 19%, 35%);
}
#three{
    margin:10px 15px 10px 10px;
    width: 25%;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 22px 8px 88px 3px rgba(0,0,0,0.37);
}
#four{
    margin:10px 15px 10px 10px;
    width: 75%;
    padding: 20px;
    background-color: hsl(219, 29%, 14%);
}
#five{
    
    position: relative;
    width :17%;
    padding: 20px;
    margin:10px 15px 10px 10px;
    background-color:hsl(0, 0%, 100%);
    box-shadow: 22px 8px 88px 3px rgba(0,0,0,0.37);
}








.attribution{
    position: absolute;
    bottom: 20px;
    text-align: center;
}
/* utility class */

h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color:  hsl(0, 0%, 100%);
    clear: left;
    margin-top: 20px;
    margin-bottom: 0px;
}
h2{
    text-align: left;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.7);
}
.dp{
    border-radius: 100px;
    float: left;
    margin-right: 09px;
    
}
.gray{
    color: hsl(217, 19%, 35%);
}
.name{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 13px;
}
.name2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(217, 19%, 35%);
    font-size: 13px;
}
.des{
    opacity: 0.5;
}